<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/testNG/src/test/java/techproed/tests/Day16_DependsOnMethods.java"><classes><class name="techproed.tests.Day16_DependsOnMethods"><methods><include name="homePage"/><include name="searchPage"/><include name="checkOutPage"/></methods></class></classes></test></suite>